Source: libcdata
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libcdata/

Package: libcdata
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libcdata-dbg
Description: Library to support cross-platform C generic data functions
 libcdata is a library to support cross-platform C generic data functions.

Package: libcdata-dbg
Architecture: any
Section: debug
Depends: libcdata (= ${Source-Version}), ${misc:Depends}
Description: Debugging symbols for libcdata
 Debugging symbols for libcdata.

Package: libcdata-dev
Section: libdevel
Architecture: any
Depends: libcdata (= ${Source-Version})
Description: Header files and libraries for developing applications for libcdata
 Header files and libraries for developing applications for libcdata.

